@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;500&display=swap');

/* Général */
body, html {
    height: 100%;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-display: swap;
}

h1 {
    text-align: center;
    margin: 0;
}

/* Barre de navigation */
  
nav ul {
    text-align: center;
}
  
nav ul li a:hover {
    box-shadow: 0 0 10px #0000001a, inset 0 0 1px #ffffff99;
    background: #ffffff1a;
}

/* Première section (Arrière plan et titre) */

.arrière-plan {
    height: 50%;
    background-image: linear-gradient(to right top, #80b6e9 0%, #277cb4 100%);
}

.titre {
    position: relative;
    top: 35%;
    color: white;
    font-size: 37.5px;
}

.titre-fin {
    font-weight: 200;
}

/* Arrière-plan animé */

.cercles {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 50%;
    overflow: hidden;
}

.cercles li {
    position: inherit;
    list-style: none;
    width: 20px;
    height: 20px;
    background: #0c5ba591;
    animation: circle-animate 25s linear infinite;
    bottom: -150px;
}

.cercles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}

.cercles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.cercles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.cercles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.cercles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.cercles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.cercles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.cercles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.cercles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.cercles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0.5s;
    animation-duration: 11s;
}

@keyframes circle-animate {
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }
    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 75%;
    }
}

/* Liste de noms */

article {
    margin-top: 32px;
}

h2 {
    text-align: center;
    font-size: 45px;
    margin-bottom: 0;
}

.liste {
    text-align: center;
    margin-bottom: 10px;
}

.pseudo {
    color: #3d3d3d;
    opacity: 80%;
    font-size: 13px;
}

.nom:first-child {
    margin-top: 32px;
}
.nom:last-child {
    margin-bottom: 25px;
}

.role {
    color: grey;
    opacity: 50%;
    font-size: smaller;
}

.info {
    margin: 15px;
    text-align: center;
}
.info a {
    text-decoration: none;
    color: #80b6e9;
}

/* Infos créateur */

footer {
    text-align: center;
    left: 0;
    bottom: 0;
    width: 100%;
    color: grey;
    font-size: 10px;
}

/* Pop-up YouTube (Easter egg) */

.notemusique {
    margin-bottom: 4px;
}
.notemusique:hover {
    cursor: pointer;
}

.lightbox {
    background-color: rgba(0, 0, 0, 0.8);
    overflow: scroll;
    position: fixed;
    display: none;
    margin-top: 20px;
    z-index: 1;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
  }
.lightbox-container {
    position: relative;
    max-width: 960px;
    margin: 7% auto;
    display: block;
    padding: 0 3%;
    height: auto;
    z-index: 10;
}
@media screen and (max-width: 768px) {
    .lightbox-container {
        margin-top: 10%;
    }
}
@media screen and (max-width: 414px) {
    .lightbox-container {
        margin-top: 13%;
    }
}

.lightbox-content {
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.7);
}

.lightbox-close {
    text-transform: uppercase;
    background: transparent;
    position: absolute;
    font-weight: 300;
    font-size: 12px;
    display: block;
    border: none;
    color: white;
    top: -22px;
    right: 3%;
}
  
  
.video-container {  
    padding-bottom: 56.25%;
    position: relative;  
    padding-top: 30px; 
    overflow: hidden;
    height: 0; 
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    height: 100%;  
    width: 100%;  
    left: 0;  
    top: 0;
}